.header {
  background: #fff;
  border-bottom: $styled-border;

  .logo {
    display: flex;
    align-items: center;

    &--image {
      margin-right: 0.5rem;
    }

    &--title {
      visibility: hidden;
      font-size: 1.5rem;
      color: $primary-color-700;
      margin: 0;
    }
  }
}
