.projects {
  h2 {
    margin-bottom: $size-400;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0 3rem;
    border-top: 2px solid #000000;

    & > * + * {
      margin-top: 1em;
    }

    @include fromTablet {
      grid-template-columns: 2fr 3fr 1fr;

      & > * + * {
        margin-top: 0;
      }
    }

    &--description {
      margin-bottom: 0;
    }

    &--link {
      a {
        display: inline;
      }

      @include fromTablet {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
  }
}

.arrow {
  background: $secondary-color-200;
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:hover {
    background: $secondary-color-100;
  }

  &--path {
    stroke: #000;
  }

  &--svg {
    fill: $primary-color-500;
  }
}
