.tools {
  // padding-bottom: 6rem;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $size-400;

    .tools--control {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      &__btn {
        cursor: pointer;
        border: none;
        background: transparent;
      }

      &__btn.full {
        opacity: 0;
      }

      .left {
        margin-right: 0.5rem;
        transform: rotate(180deg);
      }
    }
  }

  &--panel {
    overflow-x: hidden;
    display: flex;

    @include fromTablet {
      margin-right: -1rem;
    }
  }
}

.tool {
  flex-shrink: 0;
  height: auto;
  width: 250px;
  // flex-basis: calc(50% - 1rem);
  flex-basis: 100%;
  transition: transform 0.5s ease-in-out;

  padding: $size-500 $size-600;
  background: $secondary-color-100;
  border: 2px solid #000;

  margin-right: 1rem;
  // &:not(:last-child) {
  //   margin-right: 1rem;
  // }

  @include fromTablet {
    flex-basis: calc(33.33% - 1rem);
  }

  &--header {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    &__image {
      margin-right: 0.5rem;
    }
  }

  &--description {
    font-size: $size-400;

    @include fromTablet {
      font-size: inherit;
    }
  }
}
